##### Projeto Final Técnicas de Programação I (PY) | ED - Santander Coders 2023 (1) - Engenharia de dados
##### Professora: Patrícia Bongiovanni Catandi
##### Alunos: 
##### Brenda Monteiro - Id: 1009010 - email: brendamonteiro08@gmail.com
##### Eric Nicholas Clementino da Silva Oliveira - Id: 0997022 - email: csonicholas@gmail.com
##### Paulo Almeida- Id: - email: palmeida.dev@gmail.com
##### Ramon Alves - Id: 1009011 - email: ramoncps15@gmail.com
##### Stéfanni Id: 1009014 - email: stefanni@gmail.com

In [300]:
import pandas as pd
import numpy as np
from unidecode import unidecode

Importação dos dataframes

In [378]:
df_escolas = pd.read_csv('escolas.csv')
df_material_didatico = pd.read_csv('material_didatico.csv')
df_subprefeituras = pd.read_csv('subprefeituras.csv')
df_dados_entrega = df_escolas.copy()


pd.reset_option('display.max_columns')
pd.reset_option('display.max_rows')
# df_dados_entrega

Verificando se existem Nulls

In [379]:
print('Verificando Null em Escolas: ')
print(df_escolas.isnull().sum())
print()
print('Verificando Null em Material Didático: ')
print(df_material_didatico.isnull().sum())
print()
print('Verificando Null em Subprefeituras: ')
print(df_subprefeituras.isnull().sum())
print()
print('Verificando Null em Dados Entrega: ')
print(df_dados_entrega.isnull().sum())

Verificando Null em Escolas:
id                0
Escolas_Postos    0
BAIRRO            0
ENDEREÇO          0
lat               0
lon               0
dtype: int64

Verificando Null em Material Didático:
id            0
Quantidade    4
dtype: int64

Verificando Null em Subprefeituras:
nome             0
subprefeitura    0
dtype: int64

Verificando Null em Dados Entrega:
id                0
Escolas_Postos    0
BAIRRO            0
ENDEREÇO          0
lat               0
lon               0
dtype: int64

Nome das colunas em snake_case

In [380]:
def coluna_snake_case(coluna: str) -> str:
    return unidecode(coluna.lower().strip().replace(' ','_'))

df_material_didatico.rename(columns=lambda x: coluna_snake_case(x), inplace=True)
df_subprefeituras.rename(columns=lambda x: coluna_snake_case(x), inplace=True)
df_dados_entrega.rename(columns=lambda x: coluna_snake_case(x), inplace=True)

df_dados_entrega.head()

,id,escolas_postos,bairro,endereco,lat,lon
0,178,CENTRO INTEGRADO DE EDUCAÇÃO PÚBLICA HENFIL,CAJU,Rua Carlos Seidl S/Nº,"-22,880888","-43,225326"
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,Rua Ébano 187,"-22,889574","-43,236202"
2,483,EM CELESTINO SILVA,CENTRO,"R. do Lavradio, 56","-22,909293","-43,183579"
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SÃO CRISTÓVÃO,Praça Argentina 20,"-22,897629","-43,227456"
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,Praça Condessa Paulo de Frontin 45,"-22,924412","-43,208579"

In [241]:
df_material_didatico.head()

    id quantidade
0  178         20
1  634        121
2  483        220
3  476        190
4  132         67

In [165]:
df_subprefeituras.head()

           nome subprefeitura
0  Santo Cristo        Centro
1        Gamboa        Centro
2         Saúde        Centro
3          Caju        Centro
4        Centro        Centro

In [166]:
df_dados_entrega.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              152 non-null    int64
 1   escolas_postos  152 non-null    object
 2   bairro          152 non-null    object
 3   endereco        152 non-null    object
 4   lat             152 non-null    object
 5   lon             152 non-null    object
dtypes: int64(1), object(5)
memory usage: 7.2+ KB

In [167]:
df_material_didatico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          151 non-null    int64
 1   quantidade  147 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.5+ KB

In [168]:
df_subprefeituras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nome           164 non-null    object
 1   subprefeitura  164 non-null    object
dtypes: object(2)
memory usage: 2.7+ KB

Retirada dos acentos

Todas as strings em maiúsculo

In [381]:
def padroniza_conteudo_coluna(texto: str) -> str:
    return unidecode(texto.upper())

df_dados_entrega['escolas_postos'] = df_dados_entrega['escolas_postos'].apply(padroniza_conteudo_coluna)
df_dados_entrega['bairro'] = df_dados_entrega['bairro'].apply(padroniza_conteudo_coluna)
df_dados_entrega['endereco'] = df_dados_entrega['endereco'].apply(padroniza_conteudo_coluna)
df_subprefeituras['nome'] = df_subprefeituras['nome'].apply(padroniza_conteudo_coluna)
df_subprefeituras['subprefeitura'] = df_subprefeituras['subprefeitura'].apply(padroniza_conteudo_coluna)

In [170]:
df_dados_entrega.head()

,id,escolas_postos,bairro,endereco,lat,lon
0,178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CAJU,RUA CARLOS SEIDL S/No,"-22,880888","-43,225326"
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,RUA EBANO 187,"-22,889574","-43,236202"
2,483,EM CELESTINO SILVA,CENTRO,"R. DO LAVRADIO, 56","-22,909293","-43,183579"
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,PRACA ARGENTINA 20,"-22,897629","-43,227456"
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,PRACA CONDESSA PAULO DE FRONTIN 45,"-22,924412","-43,208579"

In [171]:
df_subprefeituras.head()

           nome subprefeitura
0  SANTO CRISTO        CENTRO
1        GAMBOA        CENTRO
2         SAUDE        CENTRO
3          CAJU        CENTRO
4        CENTRO        CENTRO

Correção de Lat e Lon -> Verificar Negativos e Posição da Vírgula
- Se não estiver Negativo
- Se não existir Vírgula


Corrigir quando necessário

In [382]:
# df_dados_entrega.dtypes #Verificando que Lat e Lon são strings

def formatar_coordenadas(coord:str) -> str:
        if coord[0] != '-':
            coord = "-" + coord
        if "," not in coord:
            coord = coord[:3] + "," + coord[3:]
        return coord

coordenadas_col = ['lat', 'lon']

for col in coordenadas_col:
    df_dados_entrega[col] = df_dados_entrega[col].apply(formatar_coordenadas)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
#df_dados_entrega

Verificar se existe Vírgula na Posição errada

Verificando se alguma Latitude ou Longitude possui menos que 5 casas decimais

In [383]:
print(df_dados_entrega[df_dados_entrega['lat'].str.find(',') != 3])
print(df_dados_entrega[df_dados_entrega['lon'].str.find(',') != 3])
print(df_dados_entrega[df_dados_entrega['lat'].str.len() < 9])
print(df_dados_entrega[df_dados_entrega['lon'].str.len() < 9])

Empty DataFrame
Columns: [id, escolas_postos, bairro, endereco, lat, lon]
Index: []
Empty DataFrame
Columns: [id, escolas_postos, bairro, endereco, lat, lon]
Index: []
Empty DataFrame
Columns: [id, escolas_postos, bairro, endereco, lat, lon]
Index: []
Empty DataFrame
Columns: [id, escolas_postos, bairro, endereco, lat, lon]
Index: []

Remoção das escolas com lat e lon duplicadas

Verificação de escola duplicada em ID, se for a mesma escola -> Remover uma

Remoção de IDs Duplicados em Materia Didático

In [384]:
print('QTD de Duplicados em Lat e Lon: ')
print(df_dados_entrega[['lat', 'lon']].duplicated().sum()) # 16 linhas duplicados lat e lon
df_dados_entrega.drop_duplicates(subset=['lat', 'lon'], inplace=True)
print()
print('QTD de Duplicados Após Remoção de Duplicados em Lat e Lon: ')
print(df_dados_entrega[['lat', 'lon']].duplicated().sum())
print()
print('QTD de Duplicados em ID: ')
print(df_dados_entrega['id'].duplicated().sum()) # Existe 1 Duplicado em ID que não é Duplicados em Lat e Lon
print(df_dados_entrega[df_dados_entrega[['id']].duplicated()]) #ID 413 Duplicado
print()
# Verificando as linhas dos IDs duplicados:
print(df_dados_entrega[df_dados_entrega["id"] == 413])

# Os IDs duplicados são realmente a mesma escola, porém estão com diferença na Latitude.
# Está faltando o número 9 depois da vírgula na Latitude (Linha 15)
# Pesquisamos no google qual Latitude era a correta (Latitude com o 9 é a correta - Linha 14)
# Decisão: Remover a Linha Duplicada que está faltando o número 9 -> Remover Linha 15:

# REMOVENDO A LINHA 15 E RESETANDO O INDEX:

df_dados_entrega = df_dados_entrega.drop(15)
df_dados_entrega.reset_index(drop=True, inplace=True)
print('Conferindo se não existe mais o ID 413 Duplicado: ')
print(df_dados_entrega[df_dados_entrega["id"] == 413]) # Conferindo se removeu a duplicada de ID
print()

# Material Didático não possui Duplicados em ID:
print('ID Duplicados no Material Didático:')
print(df_material_didatico['id'].duplicated().sum()) # nenhuma linha de ID duplicada
      
# Para Visualizar o DF
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

QTD de Duplicados em Lat e Lon:
17

QTD de Duplicados Após Remoção de Duplicados em Lat e Lon:
0

QTD de Duplicados em ID:
1
     id     escolas_postos      bairro                 endereco        lat  \
15  413  EM COCIO BARCELOS  COPACABANA  R. BARAO DE IPANEMA, 34  -22,74828

           lon
15  -43,189063

     id     escolas_postos      bairro                 endereco         lat  \
14  413  EM COCIO BARCELOS  COPACABANA  R. BARAO DE IPANEMA, 34  -22,974828
15  413  EM COCIO BARCELOS  COPACABANA  R. BARAO DE IPANEMA, 34   -22,74828

           lon
14  -43,189063
15  -43,189063
Conferindo se não existe mais o ID 413 Duplicado:
     id     escolas_postos      bairro                 endereco         lat  \
14  413  EM COCIO BARCELOS  COPACABANA  R. BARAO DE IPANEMA, 34  -22,974828

           lon
14  -43,189063

ID Duplicados no Material Didático:
0

In [282]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
df_dados_entrega.head()

,id,escolas_postos,bairro,endereco,lat,lon
0,178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CAJU,RUA CARLOS SEIDL S/No,"-22,880888","-43,225326"
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,RUA EBANO 187,"-22,889574","-43,236202"
2,483,EM CELESTINO SILVA,CENTRO,"R. DO LAVRADIO, 56","-22,909293","-43,183579"
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,PRACA ARGENTINA 20,"-22,897629","-43,227456"
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,PRACA CONDESSA PAULO DE FRONTIN 45,"-22,924412","-43,208579"

Padronização dos Endereços

In [385]:
# VERIFICANDO A PARTE FINAL DE TODOS OS ENDEREÇOS PARA PADRONIZAR O "S/N"

sem_numero = df_dados_entrega['endereco'].str.rsplit(' ', n=1).str.get(-1)
sem_numero_unicos = sem_numero.unique()

print(sem_numero_unicos)

['S/No' '187' '56' '20' '45' '90' '38' '192' '148' '77' '124' '1976' '34'
 '474' '67' '433' '257' 'CORREA' '328' '331' '74' '353' '370' '36' '275'
 '352' '296' 'S/Ndeg' '109' '6742' '649' 'NERI' '116' '201' '931' '1715'
 '1870' '98' '28' '579' '268' '54' 'S/N' '100' '130' '15' '91' '407'
 '1215' 'S/N.o' '49' 'VITORIA' '401' '1386' '40' '4.035' '23.364' '105'
 '260' '1614' '483-639' '500' '316' '170' '1446' '1.565' '495' '3327'
 'IGARAPE-ACU' '387' '78' '196' '12' '43' '3' '155' 'S/N.deg' '113' '30'
 '866' '604' '97' 'MENDANHA' '138' '750' 'URUCANIA' 'CESARAO' '1' '2075'
 '643' '9.183' '4406']

In [386]:
# PADRONIZANDO S/N

df_dados_entrega['endereco'] = df_dados_entrega['endereco'].str.replace(r'S/N(\.|\w+)*', 'S/N', regex = True)

In [387]:
# PADRONIZANDO TIPOS DE ENDEREÇO

df_dados_entrega.loc[:, 'endereco'] = df_dados_entrega['endereco'].str.replace(r'[.,]','', regex=True)
df_dados_entrega.loc[:, 'endereco'] = df_dados_entrega['endereco'].str.replace(r'^AV ','AVENIDA ', regex=True)
df_dados_entrega.loc[:, 'endereco'] = df_dados_entrega['endereco'].str.replace(r'^R ','RUA ', regex=True)
df_dados_entrega.loc[:, 'endereco'] = df_dados_entrega['endereco'].str.replace(r'^PCA ','PRACA ', regex=True)
df_dados_entrega.loc[:, 'endereco'] = df_dados_entrega['endereco'].str.replace(r'^ESTR ','ESTRADA ', regex=True)
df_dados_entrega.loc[:, 'endereco'] = df_dados_entrega['endereco'].str.replace(r'\s+',' ', regex=True)


# df_dados_entrega.loc[:, 'endereco'] = df_dados_entrega['endereco'].str.replace('-','') -> ATENÇÃO NUMERO DE X - Y

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# df_dados_entrega

Separando logradouro do número, exclusão da coluna endereço e tratando NaN de Número

In [388]:
# CRIAÇÃO COLUNA NÚMERO:
# Extrair o S/N do Endereço
# Extrair o Final do Endereço SE FOR DÍGITO
# Se não tiver S/N e nem Dígito no Final -> inserir "NÃO INFORMADO"

def cria_numero(texto:str) -> str:
    
    if 'S/N' in texto:
        texto = 'S/N'
    elif any(char.isdigit() for char in texto.split()[-1]):
        texto = texto.split()[-1]
    else:
        texto = 'NAO INFORMADO'
    return texto


# CRIAÇÃO COLUNA LOGRADOURO:
# Se TEM S/N, RETIRA S/N
# SE REGEX_CONTAINS(df_dados_entrega['endereco'].str.rsplit(' ', n=1).str.get(-1), R'[\d]) == TRUE, remover esse digito
# mantem o que está

def cria_logradouro(texto:str) -> str:
    
    if 'S/N' in texto:
        texto = texto.replace('S/N', '')
    elif any(char.isdigit() for char in texto.split()[-1]):
        texto =  ' '.join(texto.split()[0:-1])
    else:
        pass
    return texto


df_dados_entrega['logradouro'] = df_dados_entrega['endereco'].apply(cria_logradouro)

#df_dados_entrega.loc[:,'logradouro'] = df_dados_entrega['endereco'].apply(cria_logradouro)


df_dados_entrega['numero'] = df_dados_entrega['endereco'].apply(cria_numero)

#df_dados_entrega.loc[:,'numero'] = df_dados_entrega['endereco'].apply(cria_numero)


# DELETANDO COLUNA ENDEREÇO
df_dados_entrega = df_dados_entrega.drop('endereco', axis=1)

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
df_dados_entrega.head()

,id,escolas_postos,bairro,lat,lon,logradouro,numero
0,178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CAJU,"-22,880888","-43,225326",RUA CARLOS SEIDL,S/N
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,"-22,889574","-43,236202",RUA EBANO,187
2,483,EM CELESTINO SILVA,CENTRO,"-22,909293","-43,183579",RUA DO LAVRADIO,56
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,"-22,897629","-43,227456",PRACA ARGENTINA,20
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,"-22,924412","-43,208579",PRACA CONDESSA PAULO DE FRONTIN,45

Verificando parte inicial dos nomes das Escolas para Criação do TIPO de escola

In [389]:
somente_tipos = df_dados_entrega['escolas_postos'].str.split(' ', n=1).str.get(0)

somente_tipos_unicos = somente_tipos.unique()

print(somente_tipos_unicos)

['CENTRO' 'EM' 'ESCOLA' 'E.M' 'CIEP' 'E.M.' 'EM.' 'COLEGIO']

Filtro para tipos de escolas (Escola Municipal, Ciep e Colegio Municipal)

In [390]:
condicao_em_1 = df_dados_entrega['escolas_postos'].str.contains('EM ')
condicao_em_2 = df_dados_entrega['escolas_postos'].str.contains('ESCOLA MUNICIPAL ')
condicao_em_3 = df_dados_entrega['escolas_postos'].str.contains('E.M ')
condicao_em_4 = df_dados_entrega['escolas_postos'].str.contains('E.M. ')
condicao_em_5 = df_dados_entrega['escolas_postos'].str.contains('EM. ')


condicao_ciep_1 = df_dados_entrega['escolas_postos'].str.contains('CENTRO INTEGRADO ')
condicao_ciep_2 = df_dados_entrega['escolas_postos'].str.contains('CIEP ')

condicao_cm = df_dados_entrega['escolas_postos'].str.contains('COLEGIO MUNICIPAL')

condicao_escolas_municipais = df_dados_entrega[condicao_em_1 | condicao_em_2 | condicao_em_3 | condicao_em_4 | condicao_em_5]
condicao_ciep = df_dados_entrega[condicao_ciep_1 | condicao_ciep_2]
condicao_colegio = condicao_cm

Criando coluna 'tipo' com base no tipo de escola (Ciep, Escola Municipal ou Colegio Municipal)

In [391]:
def tipo_de_escola(escola):
    if escola in condicao_escolas_municipais['escolas_postos'].values:
        return 'ESCOLA'
    elif escola in condicao_ciep['escolas_postos'].values:
        return 'CIEP'
    # elif escola in condicao_colegio['escolas_postos'].values:
    #     return 'COLEGIO'
    # else:
    #     return 'NAO INFORMADO'
    else:
        return 'COLEGIO' # Tentei resolver o problema do else ser um Colégio mas não consegui, rascunho acima deu erro.
# Else deveria ser "Não Informado" e criar um elif para o Colégio.

for escola in df_dados_entrega['escolas_postos'].values: 
    df_dados_entrega['tipo'] = df_dados_entrega['escolas_postos'].apply(tipo_de_escola)

df_dados_entrega.head()

,id,escolas_postos,bairro,lat,lon,logradouro,numero,tipo
0,178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CAJU,"-22,880888","-43,225326",RUA CARLOS SEIDL,S/N,CIEP
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,"-22,889574","-43,236202",RUA EBANO,187,ESCOLA
2,483,EM CELESTINO SILVA,CENTRO,"-22,909293","-43,183579",RUA DO LAVRADIO,56,ESCOLA
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,"-22,897629","-43,227456",PRACA ARGENTINA,20,ESCOLA
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,"-22,924412","-43,208579",PRACA CONDESSA PAULO DE FRONTIN,45,ESCOLA

In [183]:
df_subprefeituras.head()

           nome subprefeitura
0  SANTO CRISTO        CENTRO
1        GAMBOA        CENTRO
2         SAUDE        CENTRO
3          CAJU        CENTRO
4        CENTRO        CENTRO

In [184]:
df_dados_entrega.head()

,id,escolas_postos,bairro,lat,lon,logradouro,numero,tipo
0,178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CAJU,"-22,880888","-43,225326",RUA CARLOS SEIDL,S/N,CIEP
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,"-22,889574","-43,236202",RUA EBANO,187,ESCOLA
2,483,EM CELESTINO SILVA,CENTRO,"-22,909293","-43,183579",RUA DO LAVRADIO,56,ESCOLA
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,"-22,897629","-43,227456",PRACA ARGENTINA,20,ESCOLA
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,"-22,924412","-43,208579",PRACA CONDESSA PAULO DE FRONTIN,45,ESCOLA

Criação da coluna subprefeitura

In [392]:
def tipo_de_subprefeitura(bairro):
    for nome, subprefeitura in df_subprefeituras.values:
        if bairro == nome.upper():
            return subprefeitura.upper()
        elif bairro == 'MARACANA/ VILA ISABEL' or bairro == 'MARACANA/ TIJUCA':
            return 'GRANDE TIJUCA'
        elif bairro == 'RECREIO':
            return 'BARRA DA TIJUCA'
        elif bairro == 'OSWALDO CRUZ':
            return 'ZONA NORTE'
        elif bairro == 'FREGUESIA JPA' or bairro == 'NOVA SEPETIBA' or bairro == 'RIO DAS PEDRAS':
            return 'JACAREPAGUA'
        # elif bairro == 'NOVA SEPETIBA':
        #     return 'JACAREPAGUA'    
        elif bairro == 'AUGUSTO VASCONCELOS':
            return 'ZONA OESTE'    
    return 'NAO INFORMADA'
 
for bairro in df_dados_entrega['bairro'].values:
    df_dados_entrega['subprefeitura'] = df_dados_entrega['bairro'].apply(tipo_de_subprefeitura)

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# df_dados_entrega

In [393]:
# VERIFICANDO SE EXISTEM PREFEITURAS NÃO INFORMADAS
# SE AINDA EXISTIR PREFEITURAS NÃO INFORMADAS -> CORRGIR FUNÇÃO ACIMA

df_dados_entrega[df_dados_entrega["subprefeitura"] == 'NAO INFORMADA']

Empty DataFrame
Columns: [id, escolas_postos, bairro, lat, lon, logradouro, numero, tipo, subprefeitura]
Index: []

In [ ]:
# PARA CONFERIR SUBPREFEITURAS EXISTENTES
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# df_subprefeituras.sort_values('nome')

Correção do nome das colunas latitude e longitude e mudança para 5 casas decimais

Latitude e Longitude ficaram como Float pois não existia especificação do tipo de dado.

In [394]:
def correcao_lat_e_lon(numero):
    numero_com_ponto = numero.replace(',', '.')
    numero_float = float(numero_com_ponto)
    numero_arredondado = round(numero_float,5)
    return numero_arredondado

df_dados_entrega['lat'] = df_dados_entrega['lat'].apply(correcao_lat_e_lon)
df_dados_entrega['lon'] = df_dados_entrega['lon'].apply(correcao_lat_e_lon)
df_dados_entrega = df_dados_entrega.rename(columns={'lat': 'latitude','lon':'longitude'})

In [188]:
df_dados_entrega.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              134 non-null    int64
 1   escolas_postos  134 non-null    object
 2   bairro          134 non-null    object
 3   latitude        134 non-null    float64
 4   longitude       134 non-null    float64
 5   logradouro      134 non-null    object
 6   numero          134 non-null    object
 7   tipo            134 non-null    object
 8   subprefeitura   134 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 9.5+ KB

In [214]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_material_didatico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          151 non-null    int64
 1   quantidade  147 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.5+ KB

Criação da coluna 'quantidade de material' 

Transformando QTDS vazias e Strings de NaNs para NaN.

In [395]:
df_dados_entrega = pd.merge(df_dados_entrega,df_material_didatico, on='id')
df_dados_entrega = df_dados_entrega.rename(columns={'quantidade':'quantidade_de_material'})

# TENTAR AJUSTAR ESSA PARTE PARA NÃO FICAR MANUAL:

df_dados_entrega['quantidade_de_material'].replace("''", np.nan, inplace = True)
df_dados_entrega['quantidade_de_material'].replace("'NaN'", np.nan, inplace = True)
df_dados_entrega['quantidade_de_material'].replace("' '", np.nan, inplace = True)
df_dados_entrega['quantidade_de_material'].replace("'", np.nan, inplace = True)
df_dados_entrega['quantidade_de_material'].replace("'397'", 397, inplace = True)
df_dados_entrega['quantidade_de_material'].replace("'395'", 395, inplace = True)



# ANTIGO DO NICHOLAS TENTANDO MUDAR PARA INCLUIR COMO NAN--> DA ERRO:
# df_dados_entrega.loc[:,'quantidade_de_material'] = df_dados_entrega['quantidade_de_material'].replace("''", np.nan)
# df_dados_entrega.loc[:,'quantidade_de_material'] = df_dados_entrega['quantidade_de_material'].replace("'NaN'", np.nan)
# df_dados_entrega.loc[:,'quantidade_de_material'] = df_dados_entrega['quantidade_de_material'].replace("' '", np.nan)
# df_dados_entrega.loc[:,'quantidade_de_material'] = df_dados_entrega['quantidade_de_material'].replace("'", np.nan)
# df_dados_entrega.loc[:,'quantidade_de_material'] = df_dados_entrega['quantidade_de_material'].replace("'397'", '397')
# df_dados_entrega.loc[:,'quantidade_de_material'] = df_dados_entrega['quantidade_de_material'].replace("'395'", '395')

# CONVERTENDO PARA INT ---> SOMENTE APÓS RESOLVER OS NAN
# df_dados_entrega['quantidade_de_material'] = df_dados_entrega['quantidade_de_material'].astype(int)

In [396]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_dados_entrega[['quantidade_de_material']]

    quantidade_de_material
0                       20
1                      121
2                      220
3                      190
4                       67
5                       48
6                       92
7                      578
8                      591
9                      473
10                     456
11                     223
12                     420
13                     573
14                     NaN
15                     516
16                     319
17                     308
18                     111
19                     525
20                     445
21                     164
22                     293
23                     399
24                     185
25                     576
26                      63
27                     491
28                     NaN
29                     336
30                     159
31                     342
32                     262
33                     440
34                     365
35                     NaN
36                     183
37                      44
38                     109
39                     350
40                     255
41                     457
42                     493
43                     489
44                     456
45                     504
46                     530
47                     158
48                     123
49                     468
50                     234
51                      24
52                     109
53                     151
54                     564
55                      61
56                     426
57                     167
58                     509
59                     292
60                     210
61                     153
62                     397
63                     468
64                      67
65                     561
66                     180
67                     260
68                     317
69                     345
70                     NaN
71                     513
72                     416
73                     352
74                     393
75                     136
76                     395
77                     115
78                     534
79                     342
80                     152
81                     430
82                     466
83                      51
84                      26
85                      94
86                     121
87                     128
88                     520
89                     392
90                     NaN
91                     279
92                     161
93                     179
94                     194
95                     599
96                     315
97                     435
98                     400
99                     148
100                    128
101                    269
102                    571
103                    235
104                    187
105                    NaN
106                    362
107                     71
108                    221
109                    372
110                    479
111                     99
112                    157
113                    296
114                    330
115                    316
116                    106
117                    207
118                    308
119                    459
120                    537
121                    342
122                    162
123                    579
124                    517
125                    NaN
126                    135
127                    341
128                    329
129                    570
130                    320
131                    335
132                    NaN
133                    521

Substituindo os NaNs da QTD de Material.

Decisão: Perguntaríamos para o responsável o que fazer com os NaNs --> Preencher os NaNs com a Média dos Materiais.

In [405]:
# CONVERTENTO QTD MATERIAL PARA FLOAT PARA CALCULAR MÉDIA
df_dados_entrega['quantidade_de_material'] = df_dados_entrega['quantidade_de_material'].astype(float)

In [406]:
df_dados_entrega.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      134 non-null    int64
 1   escolas_postos          134 non-null    object
 2   bairro                  134 non-null    object
 3   latitude                134 non-null    float64
 4   longitude               134 non-null    float64
 5   logradouro              134 non-null    object
 6   numero                  134 non-null    object
 7   tipo                    134 non-null    object
 8   subprefeitura           134 non-null    object
 9   quantidade_de_material  126 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 10.6+ KB

In [407]:
df_dados_entrega.isnull().sum()

id                        0
escolas_postos            0
bairro                    0
latitude                  0
longitude                 0
logradouro                0
numero                    0
tipo                      0
subprefeitura             0
quantidade_de_material    8
dtype: int64

In [408]:
df_dados_entrega['quantidade_de_material'] = df_dados_entrega['quantidade_de_material'].fillna(df_dados_entrega['quantidade_de_material'].mean())

In [409]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_dados_entrega[['quantidade_de_material']]

     quantidade_de_material
0                 20.000000
1                121.000000
2                220.000000
3                190.000000
4                 67.000000
5                 48.000000
6                 92.000000
7                578.000000
8                591.000000
9                473.000000
10               456.000000
11               223.000000
12               420.000000
13               573.000000
14               306.603175
15               516.000000
16               319.000000
17               308.000000
18               111.000000
19               525.000000
20               445.000000
21               164.000000
22               293.000000
23               399.000000
24               185.000000
25               576.000000
26                63.000000
27               491.000000
28               306.603175
29               336.000000
30               159.000000
31               342.000000
32               262.000000
33               440.000000
34               365.000000
35               306.603175
36               183.000000
37                44.000000
38               109.000000
39               350.000000
40               255.000000
41               457.000000
42               493.000000
43               489.000000
44               456.000000
45               504.000000
46               530.000000
47               158.000000
48               123.000000
49               468.000000
50               234.000000
51                24.000000
52               109.000000
53               151.000000
54               564.000000
55                61.000000
56               426.000000
57               167.000000
58               509.000000
59               292.000000
60               210.000000
61               153.000000
62               397.000000
63               468.000000
64                67.000000
65               561.000000
66               180.000000
67               260.000000
68               317.000000
69               345.000000
70               306.603175
71               513.000000
72               416.000000
73               352.000000
74               393.000000
75               136.000000
76               395.000000
77               115.000000
78               534.000000
79               342.000000
80               152.000000
81               430.000000
82               466.000000
83                51.000000
84                26.000000
85                94.000000
86               121.000000
87               128.000000
88               520.000000
89               392.000000
90               306.603175
91               279.000000
92               161.000000
93               179.000000
94               194.000000
95               599.000000
96               315.000000
97               435.000000
98               400.000000
99               148.000000
100              128.000000
101              269.000000
102              571.000000
103              235.000000
104              187.000000
105              306.603175
106              362.000000
107               71.000000
108              221.000000
109              372.000000
110              479.000000
111               99.000000
112              157.000000
113              296.000000
114              330.000000
115              316.000000
116              106.000000
117              207.000000
118              308.000000
119              459.000000
120              537.000000
121              342.000000
122              162.000000
123              579.000000
124              517.000000
125              306.603175
126              135.000000
127              341.000000
128              329.000000
129              570.000000
130              320.000000
131              335.000000
132              306.603175
133              521.000000

Convertendo a Coluna QTD em Int

In [410]:
# CONVERTENTO QTD MATERIAL PARA INT
df_dados_entrega['quantidade_de_material'] = df_dados_entrega['quantidade_de_material'].astype(int)

In [411]:
# Conferindo coluna QTD

df_dados_entrega.info()
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# df_dados_entrega[['quantidade_de_material']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      134 non-null    int64
 1   escolas_postos          134 non-null    object
 2   bairro                  134 non-null    object
 3   latitude                134 non-null    float64
 4   longitude               134 non-null    float64
 5   logradouro              134 non-null    object
 6   numero                  134 non-null    object
 7   tipo                    134 non-null    object
 8   subprefeitura           134 non-null    object
 9   quantidade_de_material  134 non-null    int32
dtypes: float64(2), int32(1), int64(1), object(6)
memory usage: 10.1+ KB

Reorganizando as colunas

In [ ]:
# ORGANIZANDO AS COLUNAS COM A ORDENAÇÃO DAS ESCOLAS SEM OTIMIZADOR DE ROTA 

df_dados_entrega
df_dados_entrega = df_dados_entrega[['id','escolas_postos','tipo','logradouro','numero','bairro','subprefeitura','latitude','longitude','quantidade_de_material']]
df_dados_entrega = df_dados_entrega.rename(columns = {'escolas_postos':'nome_escola'})
df_dados_entrega['id'] = df_dados_entrega['id'].astype(str).str.zfill(3)
df_dados_entrega.set_index('id',inplace=True)
df_dados_entrega

In [414]:
# CORRIGIR PROBLEMA DO ID VIRANDO INDEX E AS COLUNAS DANDO ERRO
df_dados_entrega.columns()

TypeError: 'Index' object is not callable

Otimizando a Rota de Entrega

In [ ]:
# pip install geopy
# from geopy.distance import geodesic
# from itertools import permutations


# def calcular_distancia(local1, local2):
#     coord1 = (local1['latitude'], local1['longitude'])
#     coord2 = (local2['latitude'], local2['longitude'])
#     return geodesic(coord1, coord2).kilometers


# Função para calcular o tempo total de entrega para uma rota

# def calcular_tempo_total(rota):
#     tempo_total = 0
#     for i in range(len(rota) - 1):
#         local1 = df.loc[rota[i]]
#         local2 = df.loc[rota[i + 1]]
#         distancia = calcular_distancia(local1, local2)
#         tempo_entrega = max(local1['tempo_entrega'], distancia)
#         tempo_total += tempo_entrega
#     return tempo_total


# Gerar todas as permutações possíveis das localizações

# locais = df.index.tolist()
# melhor_rota = None
# melhor_tempo_total = float('inf')

# for rota_permutada in permutations(locais):
#     tempo_total_rota = calcular_tempo_total(rota_permutada)
#     if tempo_total_rota < melhor_tempo_total:
#         melhor_tempo_total = tempo_total_rota
#         melhor_rota = rota_permutada

# print("Melhor rota de entrega:", melhor_rota)
# print("Tempo total da melhor rota:", melhor_tempo_total)

Salvando o arquivo csv de Dados de Entrega

In [413]:
# df_dados_entrega.set_index('id',inplace=True)
df_dados_entrega.to_csv('dados_entrega.csv', sep=',', index=False)
df_dados_entrega

,nome_escola,tipo,logradouro,numero,bairro,subprefeitura,latitude,longitude,quantidade_de_material
id,,,,,,,,,
178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CIEP,RUA CARLOS SEIDL,S/N,CAJU,CENTRO,-22.88089,-43.22533,20
634,EM ALICE DO AMARAL PEIXOTO,ESCOLA,RUA EBANO,187,BENFICA,CENTRO,-22.88957,-43.23620,121
483,EM CELESTINO SILVA,ESCOLA,RUA DO LAVRADIO,56,CENTRO,CENTRO,-22.90929,-43.18358,220
476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,ESCOLA,PRACA ARGENTINA,20,SAO CRISTOVAO,CENTRO,-22.89763,-43.22746,190
132,EM PEREIRA PASSOS,ESCOLA,PRACA CONDESSA PAULO DE FRONTIN,45,RIO COMPRIDO,CENTRO,-22.92441,-43.20858,67
017,E.M PRESIDENTE JOSE LINHARES,ESCOLA,RUA BARAO DA TORRE,90,IPANEMA,ZONA SUL,-22.98333,-43.19904,48
055,EM SANTA CATARINA,ESCOLA,RUA EDUARDO SANTOS,38,SANTA TERESA,CENTRO,-22.91553,-43.19159,92
490,E.M TIA CIATA,ESCOLA,AVENIDA PRESIDENTE VARGAS,S/N,CENTRO,CENTRO,-22.90712,-43.19507,578
600,EM URUGUAI,ESCOLA,RUA ANA NERI,192,BENFICA,CENTRO,-22.89849,-43.23776,591
089,EM MARIO CLAUDIO,ESCOLA,RUA HADDOCK LOBO,148,RIO COMPRIDO,CENTRO,-22.91723,-43.21104,473
387,CIEP PRESIDENTE AGOSTINHO NETO,CIEP,RUA VISCONDE DE SILVA,S/N,HUMAITA,ZONA SUL,-22.95917,-43.19972,456
331,CIEP TANCREDO NEVES,CIEP,RUA DO CATETE,77,CATETE,ZONA SUL,-22.92279,-43.17668,223
450,EM ALBERTO BARTH,ESCOLA,AVENIDA OSWALDO CRUZ,124,FLAMENGO,ZONA SUL,-22.94071,-43.17647,420
558,EM CICERO PENA,ESCOLA,AVENIDA ATLANTICA,1976,COPACABANA,ZONA SUL,-22.96865,-43.18114,573
413,EM COCIO BARCELOS,ESCOLA,RUA BARAO DE IPANEMA,34,COPACABANA,ZONA SUL,-22.97483,-43.18906,306
540,EM HENRIQUE DODSWORTH,ESCOLA,AVENIDA EPITACIO PESSOA,474,IPANEMA,ZONA SUL,-22.98195,-43.21358,516
309,EM MEXICO,ESCOLA,RUA DA MATRIZ,67,BOTAFOGO,ZONA SUL,-22.95271,-43.19176,319
268,ESCOLA MUNICIPAL MINAS GERAIS,ESCOLA,AVENIDA PASTEUR,433,URCA,ZONA SUL,-22.95382,-43.16889,308
523,EM PRESIDENTE DA COSTA E SILVA,ESCOLA,RUA ASSUNCAO,257,BOTAFOGO,ZONA SUL,-22.94556,-43.18659,111
035,EM SENADOR CORREA,ESCOLA,RUA SEN CORREA,NAO INFORMADO,LARANJEIRAS,ZONA SUL,-22.93399,-43.18101,525
011,CIEP SAMUEL WEINER,CIEP,AVENIDA HEITOR BELTRAO,S/N,TIJUCA,GRANDE TIJUCA,-22.92127,-43.22800,445
226,EM AFRANIO PEIXOTO,ESCOLA,RUA FERREIRA PONTES,328,ANDARAI,GRANDE TIJUCA,-22.92685,-43.25491,164
638,E.M AZEVEDO SODRE,ESCOLA,RUA BARAO DE UBA,331,PRACA DA BANDEIRA,GRANDE TIJUCA,-22.91545,-43.21109,293
126,EM DUQUE DE CAXIAS,ESCOLA,RUA MAL JOFRE,74,GRAJAU,GRANDE TIJUCA,-22.91854,-43.26509,399
180,ESCOLA MUNICIPAL EQUADOR,ESCOLA,BOULEVARD 28 DE SETEMBRO,353,VILA ISABEL,GRANDE TIJUCA,-22.91615,-43.24705,185
163,EM LAUDIMIA TROTTA,ESCOLA,RUA ANTONIO BASILIO,370,TIJUCA,GRANDE TIJUCA,-22.92684,-43.23789,576
361,EM PRUDENTE DE MORAES,ESCOLA,RUA ENES DE SOUSA,36,TIJUCA,GRANDE TIJUCA,-22.92906,-43.23287,63
280,ESCOLA MUNICIPAL GENERAL HUMBERTO DE SOUZA MELLO,ESCOLA,RUA OITO DE DEZEMBRO,275,MARACANA/ VILA ISABEL,GRANDE TIJUCA,-22.90982,-43.23939,491
060,ESCOLA MUNICIPAL BARAO HOMEM DE MELO,ESCOLA,RUA ALM JOAO CANDIDO BRASIL,352,MARACANA/ TIJUCA,GRANDE TIJUCA,-22.91683,-43.23692,306
587,EM ALMIRANTE TAMANDARE,ESCOLA,AVENIDA PRESIDENTE JOAO GOULART,296,VIDIGAL,ZONA SUL,-22.99370,-43.23558,336
653,EM LUCIA MIGUEL PEREIRA,ESCOLA,RUA MARTAGAO GESTEIRA,S/N,SAO CONRADO,ZONA SUL,-22.99742,-43.27218,159
660,E.M NOSSA SENHORA DA POMPEIA,ESCOLA,RUA CIRNE MAIA,109,TODOS OS SANTOS,ZONA NORTE,-22.89203,-43.27992,342
382,EM SANTOS ANJOS,ESCOLA,RUA HUMBERTO DE CAMPOS,S/N,LEBLON,ZONA SUL,-22.98156,-43.21703,262
217,EM ALAGOAS,ESCOLA,AVENIDA DOM HELDER CAMARA,6742,PILARES,ZONA NORTE,-22.88134,-43.29409,440
378,EM BRIGADEIRO FARIA LIMA,ESCOLA,RUA VIOLETA,S/N,AGUA SANTA,ZONA NORTE,-22.90627,-43.30792,365
429,EM FELIX PACHECO,ESCOLA,RUA ASSIS CARNEIRO,649,PIEDADE,ZONA NORTE,-22.89509,-43.31383,306
025,ESCOLA MUNICIPAL GEORGE SUMMER,ESCOLA,RUA ANA NERI,NAO INFORMADO,RIACHUELO,ZONA NORTE,-22.90070,-43.25541,183
373,EM PROFESSOR AUGUSTO PAULINO,ESCOLA,RUA CONEGO TOBIAS,116,MEIER,ZONA NORTE,-22.90416,-43.28033,44
624,EM RIO GRANDE DO SUL,ESCOLA,RUA ADOLFO BERGAMINI,201,ENGENHO DE DENTRO,ZONA NORTE,-22.90034,-43.29594,109
157,E.M. SARMIENTO,ESCOLA,RUA VINTE QUATRO DE MAIO,931,ENGENHO NOVO,ZONA NORTE,-22.90303,-43.26788,350
020,EM TAGORE,ESCOLA,PRACA FREDERICO DUVAL,S/N,PIEDADE,ZONA NORTE,-22.88766,-43.30247,255
117,CIEP CHANCELER WILLY BRANDT,CIEP,RUA ALVARO SEIXAS,S/N,JACARE,ZONA NORTE,-22.89418,-43.26385,457
502,CIEP PATRICE LUMUMBA,CIEP,PRACA DA CONFEDERACAO SUICA,S/N,DEL CASTILHO,ZONA NORTE,-22.87835,-43.27489,493
351,CENTRO INTEGRADO DE EDUCACAO PUBLICA VINICIUS ...,CIEP,AVENIDA DOM HELDER CAMARA,1715,JACARE,ZONA NORTE,-22.88532,-43.25410,489
135,EM DOMINGOS BEBIANO,ESCOLA,ESTRADA ADHEMAR BEBIANO,1870,INHAUMA,ZONA NORTE,-22.87389,-43.27771,456
388,EM CARDEAL CAMARA,ESCOLA,RUA ANAMA,98,PARADA DE LUCAS,ZONA NORTE,-22.81527,-43.30357,504
440,EM JOAQUIM RIBEIRO,ESCOLA,PRACA SOLDADO COSME DOS SANTOS,28,INHAUMA,ZONA NORTE,-22.87757,-43.28563,530
259,EM PERNAMBUCO,ESCOLA,RUA CONDE DE AZAMBUJA,579,MARIA DA GRACA,ZONA NORTE,-22.88418,-43.26262,158
422,ESCOLA MUNICIPAL ALBINO SOUZA CRUZ,ESCOLA,AVENIDA DOS DEMOCRATICOS,268,MANGUINHOS,ZONA NORTE,-22.88099,-43.25325,123
041,EM ANDRADE NEVES,ESCOLA,RUA VIANA DO CASTELO,S/N,JARDIM AMERICA,ZONA NORTE,-22.80945,-43.32629,468
537,EM ARY QUINTELLA,ESCOLA,RUA ENG MOREIRA LIMA,54,PENHA CIRCULAR,ZONA NORTE,-22.83941,-43.30007,234
230,EM BERLIM,ESCOLA,PRACA RAMOS FIGUEIRA,20,OLARIA,ZONA NORTE,-22.84779,-43.26144,24
379,CIEP NELSON MANDELA,CIEP,PRACA DANIEL LAMES,S/N,CAMPO GRANDE,ZONA OESTE,-22.89558,-43.57051,109
146,EM BERNARDO VASCONCELOS,ESCOLA,PRACA SANTA ROSALIA,100,PENHA,ZONA NORTE,-22.84563,-43.28401,151
566,EM BRANT HORTA,ESCOLA,RUA BENTO CARDOSO,130,PENHA CIRCULAR,ZONA NORTE,-22.83567,-43.28816,564
498,EM CHILE,ESCOLA,PRACA BELMONTE,15,OLARIA,ZONA NORTE,-22.84858,-43.26859,61
663,EM CIENTISTA MARIO KROEFF,ESCOLA,RUA DO COUTO,91,PENHA,ZONA NORTE,-22.83896,-43.27517,426
121,EM DILERMANDO CRUZ,ESCOLA,AVENIDA TEIXEIRA DE CASTRO,407,RAMOS,ZONA NORTE,-22.85387,-43.25245,167
161,E.M JOAO DE DEUS,ESCOLA,PRACA ALMEIDA GARRET,S/N,PENHA CIRCULAR,ZONA NORTE,-22.82995,-43.28211,509
263,EM PADRE MANUEL DE NOBREGA,ESCOLA,PRACA ELBA,1215,VIGARIO GERAL,ZONA NORTE,-22.85714,-43.26416,292
118,CENTRO INTEGRADO DE EDUCACAO PUBLICA ELIS REGINA,CIEP,RUA PRINCIPAL,S/N,BONSUCESSO,ZONA NORTE,-22.85783,-43.24045,210
140,EM PEDRO LESSA,ESCOLA,RUA ADAIL,49,BONSUCESSO,ZONA NORTE,-22.86047,-43.25428,153
260,EM PROFESSOR JOSUE DE CASTRO,ESCOLA,AVENIDA BRASIL 4040 RUA DA VITORIA,NAO INFORMADO,BONSUCESSO,ZONA NORTE,-22.87374,-43.24071,397
069,ESCOLA MUNICIPAL CARDEAL ARCOVERDE,ESCOLA,RUA AGOSTINHO BARBALHO,401,MADUREIRA,ZONA NORTE,-22.87608,-43.34337,468
090,EM THOMAS JEFFERSON,ESCOLA,AVENIDA PASTOR MARTIN LUTHER KING JR,S/N,ACARI,ZONA NORTE,-22.81631,-43.34015,67
274,EM ABEILARD FEIJO,ESCOLA,ESTRADA DA CACUIA,1386,CACUIA,ILHAS,-22.80769,-43.18156,561
676,ESCOLA MUNICIPAL ANISIO TEIXEIRA,ESCOLA,RUA SERENATA,40,JARDIM GUANABARA,ILHAS,-22.81244,-43.20966,180
608,EM GRANDJEAN DE MONTIGNY,ESCOLA,PRACA DOS UCRANIANOS,S/N,PAVUNA,ZONA NORTE,-22.81389,-43.37393,260
589,EM MARIO PIRAGIBE,ESCOLA,PRACA NOSSA SENHORA DAS DORES,S/N,ANCHIETA,ZONA NORTE,-22.82558,-43.39208,317
256,ESCOLA MUNICIPAL PARAIBA,ESCOLA,ESTRADA MARECHAL ALENCASTRO,4035,ANCHIETA,ZONA NORTE,-22.82636,-43.40288,345
091,E.M. PIAUI,ESCOLA,AVENIDA BRASIL,23364,GUADALUPE,ZONA NORTE,-22.84541,-43.37852,306
248,E.M. ASPIRANTE CARLOS ALFREDO,ESCOLA,RUA IBIA,105,TURIACU,ZONA NORTE,-22.86085,-43.34455,513
623,EM CECILIA MEIRELES,ESCOLA,RUA SD SERVINO MENGARDA,260,VILA KOSMOS,ZONA NORTE,-22.84944,-43.30379,416
603,EM ESPIRITO SANTO,ESCOLA,RUA HERCULANO PENA,S/N,CAVALCANTI,ZONA NORTE,-22.87430,-43.31472,352
673,ESCOLA MUNICIPAL GRECIA,ESCOLA,AVENIDA BRAZ DE PINA,1614,VILA DA PENHA,ZONA NORTE,-22.83783,-43.31254,393
520,EM BARONESA DE SAAVEDRA,ESCOLA,RUA MAL BIBIANO COSTALAT,483-639,REALENGO,GRANDE BANGU,-22.87185,-43.43243,136
412,EM MOZART LAGO,ESCOLA,RUA JOSE CARVALHO SALGADO,S/N,OSWALDO CRUZ,ZONA NORTE,-22.87221,-43.35033,395
031,E.M. PARA,ESCOLA,AVENIDA DOS ITALIANOS,500,ROCHA MIRANDA,ZONA NORTE,-22.85196,-43.34949,115
514,EM PARANA,ESCOLA,AVENIDA ERNANI CARDOSO,316,CASCADURA,ZONA NORTE,-22.88241,-43.33811,534
023,EM CERVANTES,ESCOLA,RUA ABILIO DOS SANTOS,170,BENTO RIBEIRO,ZONA NORTE,-22.86459,-43.36595,342
415,ESCOLA MUNICIPAL LUIZ DE CAMOES,ESCOLA,ESTRADA LUIZDE CAMOES,1446,COLEGIO,ZONA NORTE,-22.84604,-43.33867,152
016,CIEP JOAO BATISTA DOS SANTOS,CIEP,RUA EDGAR WERNECK,1565,CIDADE DE DEUS,JACAREPAGUA,-22.94711,-43.35974,430
570,EM HELENA LOPES ABRANCHES,ESCOLA,RUA ACAPORI,495,GARDENIA AZUL,JACAREPAGUA,-22.96072,-43.35344,466
528,CIEP MARGARET MEE,CIEP,RUA MINISTRO ALIOMAR BALEEIRO,S/N,RECREIO,BARRA DA TIJUCA,-23.01981,-43.48172,51
414,EM CLAUDIO BESSERMAN VIANNA - BUSSUNDA,ESCOLA,ESTRADA DE JACAREPAGUA,3327,RIO DAS PEDRAS,JACAREPAGUA,-22.97336,-43.32916,26
690,ESCOLA MUNICIPAL FINLANDIA,ESCOLA,RUA IGARAPE-ACU,NAO INFORMADO,CAMORIM,BARRA DA TIJUCA,-22.97199,-43.41011,94
202,E.M. PROFESSOR TEOFILO MOREIRA DA COSTA,ESCOLA,RUA ESPERANCA,387,VARGEM GRANDE,BARRA DA TIJUCA,-22.98173,-43.49164,121
550,EM 25 DE ABRIL,ESCOLA,RUA MAMORE,78,FREGUESIA JPA,JACAREPAGUA,-22.93817,-43.34258,128
211,EM FRANCIS HIME,ESCOLA,ESTRADA PAU DA FOME,196,TAQUARA,JACAREPAGUA,-22.91883,-43.41625,520
206,EM HONDURAS,ESCOLA,PRACA BARAO DA TAQUARA,12,PRACA SECA,JACAREPAGUA,-22.89693,-43.35267,392
492,EM MENEZES CORTES,ESCOLA,PRACA JOSE ALVES DE AZEVEDO,43,FREGUESIA JPA,JACAREPAGUA,-22.94265,-43.33897,306
466,ESCOLA MUNICIPAL NELSON RODRIGUES,ESCOLA,RUA FREI LUIZ ALEVATO,S/N,TAQUARA,JACAREPAGUA,-22.93533,-43.36973,279
636,EM PABLO NERUDA,ESCOLA,ESTRADA DO MAPUA RUA 3,S/N,TAQUARA,JACAREPAGUA,-22.92688,-43.38788,161
527,EM VIRGILIO VARZEA,ESCOLA,RUA JOSE SILVA,155,PECHINCHA,JACAREPAGUA,-22.93253,-43.35113,179
586,CIEP ANTONIO EVARISTO DE MORAES,CIEP,AVENIDA DE SANTA CRUZ,S/N,SENADOR CAMARA,GRANDE BANGU,-22.88179,-43.48733,194
080,E.M. JOSE MAURO DE VASCONCELOS,ESCOLA,RUA MARLIERIA,S/N,BANGU,GRANDE BANGU,-22.85044,-43.46686,599
398,EM LEONARDO DA VINCI,ESCOLA,RUA RENATO REBECCHI,S/N,BANGU,GRANDE BANGU,-22.89253,-43.47295,315
175,E.M. NACOES UNIDAS,ESCOLA,RUA DOS LIMADORES,S/N,BANGU,GRANDE BANGU,-22.88815,-43.47629,435
308,CIEP THOMAS JEFFERSON,CIEP,ESTRADA DO ENGENHO NOVO,S/N,REALENGO,GRANDE BANGU,-22.86652,-43.42515,400
576,EM CORYNTHO DA FONSECA,ESCOLA,RUA URUQUE,S/N,REALENGO,GRANDE BANGU,-22.85894,-43.44387,148
495,EM. ENGENHEIRO LAFAYETTE DE ANDRADA,ESCOLA,AVENIDA DUQUE DE CAXIAS,170,DEODORO,GRANDE BANGU,-22.85609,-43.38661,128
641,EM LAURO MULLER,ESCOLA,RUA ROSA DE ALMEIDA,113,PADRE MIGUEL,GRANDE BANGU,-22.88207,-43.44644,269
689,EM MOACIR PADILHA,ESCOLA,RUA GENERAL GOMES DE CASTRO,30,PADRE MIGUEL,GRANDE BANGU,-22.86877,-43.45065,571
171,ESCOLA MUNICIPAL PADRE LEONEL FRANCA,ESCOLA,AVENIDA CANAL,S/N,REALENGO,GRANDE BANGU,-22.88346,-43.42945,235
477,EM PAULO MARANHAO,ESCOLA,RUA DO GOVERNO,866,REALENGO,GRANDE BANGU,-22.89299,-43.44122,187
687,EM TASSO DA SILVEIRA,ESCOLA,RUA GENERAL BERNARDINO DE MATOS,S/N,REALENGO,GRANDE BANGU,-22.88386,-43.41733,306
568,EM VISCONDE DE PORTO SEGURO,ESCOLA,RUA TEOFILO GUIMARAES,604,JARDIM SULACAP,GRANDE BANGU,-22.88908,-43.39248,362
399,CIEP CLEMENTINA DE JESUS,CIEP,AVENIDA ALHAMBRA,S/N,CAMPO GRANDE,ZONA OESTE,-22.92529,-43.56665,71
262,CIEP HERIVELTO MARTINS,CIEP,PRACA SANTO ANASTACIO,S/N,AUGUSTO VASCONCELOS,ZONA OESTE,-22.88649,-43.52880,221
616,CIEP PROFESSOR DARCI RIBEIRO,CIEP,RUA CONCHAS,S/N,CAMPO GRANDE,ZONA OESTE,-22.88730,-43.58736,372
320,COLEGIO MUNICIPAL PRESIDENTE ANTONIO CARLOS,COLEGIO,RUA PEQUIA,97,COSMOS,ZONA OESTE,-22.91097,-43.61605,479
144,EM ALFREDO CESARIO ALVIM,ESCOLA,RUA RIO DA PRATA R LUISA MARILAC,20,CAMPO GRANDE,ZONA OESTE,-22.92315,-43.51877,99
534,EM CORA CORALINA,ESCOLA,RUA VOTORANTIM KM 10 MENDANHA,S/N,CAMPO GRANDE,ZONA OESTE,-22.85878,-43.53705,157
342,E.M FERNANDO COSTA,ESCOLA,RUA JOSE ALBANO,S/N,CAMPO GRANDE,ZONA OESTE,-22.89036,-43.59399,296
052,E.M PROFESSOR PAULO SILVA,ESCOLA,RUA JAIRO CORREA,S/N,INHOAIBA,ZONA OESTE,-22.90859,-43.58474,330
139,EM JESUS SOARES PEREIRA,ESCOLA,RUA CONSOLACAO,138,CAMPO GRANDE,ZONA OESTE,-22.91959,-43.54684,316
323,CIEP ISMAEL NERY,CIEP,AVENIDA CESARIO DE MELO,S/N,SANTA CRUZ,ZONA OESTE,-22.93416,-43.66213,106
573,CENTRO INTEGRADO DE EDUCACAO PUBLICA MAJOR MAN...,CIEP,RUA CABO SAULO DE VASCONCELOS,S/N,PACIENCIA,ZONA OESTE,-22.88855,-43.63805,207
560,EM ANDRE VIDAL DE NEGREIROS,ESCOLA,RUA FELIPE CARDOSO,750,SANTA CRUZ,ZONA OESTE,-22.92139,-43.68058,308
246,EM FERNANDO AZEVEDO,ESCOLA,RUA DAS PALMEIRAS IMPERIAIS,S/N,SANTA CRUZ,ZONA OESTE,-22.92307,-43.69233,459
319,EM MARECHAL PEDRO CAVALCANTI,ESCOLA,RUA PORTO FIRME,S/N,PACIENCIA,ZONA OESTE,-22.92485,-43.63289,537
584,ESCOLA MUNICIPAL NELSON ROMERO,ESCOLA,RUA JOSE BALDINO,S/N,SEPETIBA,ZONA OESTE,-22.97174,-43.69735,342
311,EM PESTALOZZI,ESCOLA,RUA SEVERIANO DAS CHAGAS,S/N,SANTA CRUZ,ZONA OESTE,-22.91572,-43.67975,162
316,EM PROFESSORA FLAVIA DOS SANTOS SOARES,ESCOLA,RUA EUDALDO GOMES DA SILVA CONJ URUCANIA,S/N,PACIENCIA,ZONA OESTE,-22.91403,-43.65344,579
497,E.M PROFESSORA LEILA MEHL MENEZES DE MATTOS,ESCOLA,AVENIDA MARIO PEREIRA DOS SANTOS,S/N,PACIENCIA,ZONA OESTE,-22.87319,-43.62773,517
297,EM PROFESSORA SILVIA DE ARAUJO TOLEDO,ESCOLA,AVENIDA CANAL 3 CONJ CESARAO,S/N,SANTA CRUZ,ZONA OESTE,-22.93011,-43.65290,306
068,EM WALQUIR PEREIRA,ESCOLA,ESTRADA DE SEPETIBA BLOCO 1,S/N,NOVA SEPETIBA,JACAREPAGUA,-22.95601,-43.68675,135
515,CIEP HILDEBRANDO DE ARAUJO GOES,CIEP,ESTRADA DA PEDRA,S/N,PEDRA DE GUARATIBA,ZONA OESTE,-22.97451,-43.64817,341
289,EM BERTHA LUTZ,ESCOLA,ESTRADA DO PIAI,2075,GUARATIBA,ZONA OESTE,-22.97906,-43.67058,329
210,EM DEBORA MENDES DE MORAES,ESCOLA,RUA BELCHIOR DA FONSECA,643,PEDRA DE GUARATIBA,ZONA OESTE,-23.00142,-43.63876,570
474,EM ENGENHEIRO GASTAO RANGEL,ESCOLA,ESTRADA DO MAGARCA,9183,GUARATIBA,ZONA OESTE,-22.98046,-43.64355,320
301,EM JONATAS SERRANO,ESCOLA,ESTRADA DO MATO ALTO,S/N,GUARATIBA,ZONA OESTE,-22.95316,-43.57741,335
215,E.M. NARCISA AMALIA,ESCOLA,ESTRADA TEODORETO DE CAMARGO,S/N,ILHA DE GUARATIBA,ZONA OESTE,-23.00908,-43.53758,306
606,EM PROFESSOR CASTILHO,ESCOLA,CAMINHO DA MATRIZ,4406,ILHA DE GUARATIBA,ZONA OESTE,-22.99412,-43.59368,521

Total de material por subprefeitura

In [415]:
material_por_subprefeitura = df_dados_entrega.groupby('subprefeitura')['quantidade_de_material'].sum()
df_material_por_subprefeitura = pd.DataFrame(material_por_subprefeitura)

df_material_por_subprefeitura.reset_index(inplace= True)
df_material_por_subprefeitura.to_csv('material_por_subprefeitura.csv', sep=',', index=False)
df_material_por_subprefeitura

     subprefeitura  quantidade_de_material
0  BARRA DA TIJUCA                     266
1           CENTRO                    2352
2     GRANDE BANGU                    4285
3    GRANDE TIJUCA                    2922
4            ILHAS                     741
5      JACAREPAGUA                    3022
6       ZONA NORTE                   14235
7       ZONA OESTE                    8695
8         ZONA SUL                    4562